.mycontent{width: 100% !important; display: block !important;}
.example-spacer {
    flex: 1 1 auto;
  }
  a{
    margin-right: 10px;
    color: #fff !important;
    
  }
  .space-right{
    margin-right: 10px;
  }