<mat-card>
  <mat-card-header>
    <h2>User Registeration</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="registerForm"
      (ngSubmit)="proceedregister()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>Username</mat-label>
        <input matInput formControlName="id" placeholder="User Name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" placeholder="Name" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          formControlName="password"
          placeholder="Password"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Email address" />
      </mat-form-field>
      <mat-radio-group formControlName="gender" aria-label="Select an option">
        <mat-radio-button value="male">Male</mat-radio-button>
        <mat-radio-button value="female">Female</mat-radio-button>
      </mat-radio-group>
      <div class="example-button-row">
        <button type="submit" mat-raised-button color="primary">Submit</button>
        <a routerLink="/login" mat-raised-button color="accent"
          >Back to Login</a
        >
      </div>
    </form>
  </mat-card-content>
</mat-card>
